@import "header.css";

body {
    font-family: 'Arimo', sans-serif;
}

.text-xs {
    font-size: 14px;
    font-weight: 700;
}

.text-small {
    font-size: 16px;
    line-height: 24px;
}

.text-normal {
    font-size: 18px;
    font-weight: 400;
}

.text-medium {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.text-large {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.text-xl {
    font-size: 60px;
    font-weight: 700;
}

.text-white {
    color: #fff;
}

.bg-light-green {
    background-color: #89c331;
}

.bg-red {
    background-color: #f04a56;
}

.bg-green {
    background-color: #20807c;
}

.bg-grey {
    background-color: #e3e3e3;
}

.bg-dark-grey {
    background-color: #dddddd;
}

.bg-light {
    background-color: #f2f2f2;
}

.bg-white {
    background-color: #fafafa;
}

.pricing-table {
    /*width: 100vw;*/
    height: 100vh;
    text-transform: uppercase;
    text-align: center;
    border-top: 27px solid #3a4965;
    border-right: 30px solid #3a4965;
    border-bottom: 22px solid #3a4965;
    border-left: 27px solid #3a4965;
    color: #484848;
}

.box-shadow {
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.27);
}

.box-shadow_left {
    box-shadow: inset 5px 0 5px -5px rgba(0, 0, 0, 0.27);
}

.box-shadow_bottom {
    box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.27);
}

.pricing-table td {
    padding: 28px;
}

.pricing-table th {
    padding: 28px 0;
}

.pricing-table-title {
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
}

.pricing-table-title_secondary {
    font-size: 18px;
    font-weight: 700;
}

.btn-buy {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 5px solid #343434;
    border-radius: 6px;
    text-transform: uppercase;
    margin-top: 28px;
    cursor: pointer;
}

.btn-small {
    padding: 15px 33px 8px;
}

.btn-large {
    padding: 21px 45px 8px 45px;
    width: 100%;
    max-width: 195px;
}

.btn-red {
    background-color: #f04a56;
    border-bottom: 10px solid #df3a46;
}

.btn-red:active,
.btn-red:hover {
    background-color: #df3a46;
}

.btn-light-green {
    background-color: #89c331;
    border-bottom: 10px solid #79b027;
}

.btn-light-green:active,
.btn-light-green:hover {
    background-color: #79b027;
}

.btn-black {
    background-color: #414141;
    border-bottom: 10px solid #343434;
}

.btn-black:active,
.btn-black:hover {
    background-color: #343434;
}

.btn-green {
    background-color: #20807c;
    border-bottom: 10px solid #16736f;
}

.btn-green:active,
.btn-green:hover {
    background-color: #16736f;
}

.pricing-table-icon {
    color: #848484;
    font-size: 24px;
    margin-bottom: 6px;
}

.pricing-table-icon.horizontal {
    margin: 0 13px 0 0;
}

.pricing-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-plan-name {
    margin-bottom: 22px;
}

.plan-price {
    font-size: 36px;
    font-weight: 700;
}

.plan-price sup {
    font-size: 18px;
    margin-left: -10px;
    margin-right: -10px;
}

.pricing-table-footer td {
    padding: 29px 43px;
}

.align-text {
    margin-right: -50px;
}

.align-text sup {
    margin-left: -16px;
}

